.dropdown-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(var(--inputHeight) + 4px);
  z-index: 10000;
  min-height: 70px;
  max-height: 300px;
  padding: var(--s4);
  background-color: var(--whiteColor);
  border: var(--cardBorder);
  box-shadow: var(--dropdownBoxShadow);
  overflow-y: scroll;
}

.dropdown-container .loading {
  animation: spin 1s linear infinite;
  position: absolute;
  right: 10px;
  top: 10px;
}

.dropdownitems {
  border-bottom: var(--inputBorder);
  height: 48px;
  display: flex;
  align-items: center;
  color: var(--blackColor);
}
